#String questions:-

In [ ]:
#Q1.reverse a string
a=" hello pw"
print(a[::-1])

In [2]:
#Q2. CHECK PALINDROME
a="It's Ayush"
b=a[::-1]
if(a==b):
    print("True")
else:
    print("False")
    
c="lol"
d=c[::-1]
if(c==d):
    print("True")
else:
    print("False")

False
True

In [4]:
#Q3. string to uppercase
a="i want a job"
print(a.upper())

I WANT A JOB

In [5]:
#Q4. string to lowercase
a="I Have Got A Job"
print(a.lower())

i have got a job

In [1]:
#Q5. count vowels
a="I am drinking coffee"
b= "aeiouAEIOU"
c=sum(a.count(vowel) for vowel in b)
print(c)

7

In [1]:
#Q6.count consonants
a="It took me an hour to learn & understand this methodðŸ¥´"
vowel=0
consonants=0
for i in range(0,len(a)):
    if(a[i] !=" "):
        if(a[i]=='a'or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u'
           or a[i]=='A'or a[i]=='E' or a[i]=='I' or a[i]=='O' or a[i]=='U'):
            vowel+=1
    else:
        consonants=consonants+1
print("Numbers of consonants are:\n", consonants)

Numbers of consonants are:
 10

In [3]:
#Q7.Remove all the whitespaces
a=" remove whitespaces from this string"
b= a.replace(" ","")
print(b)

removewhitespacesfromthisstring

In [6]:
#Q8. Find length without using len() function.
a="My name is Ayush"
count=0
for x in a:
      count+=1
print("Length of a is:")
print(count)

Length of a is:
16

In [13]:
# Q9.Check if a string contains a specific word.
a="Hey, how are you?"
a.find('?')

16

In [14]:
#Q10.Replace a word in a string with another word.
a= " i am lovin it"
a.replace("lovin","loving")

' i am loving it'

In [15]:
#Q11. Count the occurrences of a word in a string.
a="Happy Teacher's day"
a.count('a')

3

In [16]:
#Q12. Find the first occurrence of a word in a string.
a="Limiting the limits shows limits of limited thoughts"
a.index('limits')

13

In [23]:
#Q13. Find the last occurrence of a word in a string.
a="Limiting the limits shows limits of limited thoughts"
a.rfind('limits') #learnt this from google

26

In [30]:
#Q14. Split a string into a list of words.
a="lets split this up"
b=a.split(" ")
print(b)
print(type(b))

['lets', 'split', 'this', 'up']
<class 'list'>

In [33]:
#Q15.Join a list of words into a string.
a= ['lets', 'split', 'this', 'up']
b=str(" ".join(a))
print(b)
print(type(b))

lets split this up
<class 'str'>

In [35]:
#Q16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.
a="this assignment is very useful"
b= a.replace(" ","_")
print(b)

this_assignment_is_very_useful

In [36]:
#Q17. Check if a string starts with a specific word or phrase.
a="These question are not endingðŸ¥±"
print(a.startswith("These"))

True

In [37]:
#Q18. Check if a string ends with a specific word or phrase.
a="Anyways Solving these questions is fun"
print(a.endswith("fun"))

True

In [38]:
#Q19. Convert a string to title case (e.g., "hello world" to "Hello World").
a=" I tried so hard and got so far.."
a.title()

' I Tried So Hard And Got So Far..'

In [11]:
#Q20. Find the longest word in a string.
a="I have to google this"
def longest_word(a):
    b = a.split()
    longest_word = 'x'
    
    for i in b:
        if len(i) > len(longest_word):
            longest_word = i
    
    return longest_word
result=longest_word(a)
print("Longest word is:", result)

Longest word is: google

In [2]:
#Q21. Find the shortest word in a string.
a="Am I learning lot of different methods."
def shortest_word(a):
    b = a.split()
    shortest_word = b[0]
    
    for i in b:
        if len(i) < len(shortest_word):
            shortest_word = i
    
    return shortest_word
result=shortest_word(a)
print("shortest word is:", result)

shortest word is: I

In [4]:
#Q22. Reverse order of words.
a="its 11:11pm"
print(a[::-1])

mp11:11 sti

In [4]:
#Q23. Check if a string is alphanumeric.
a="i just made 1 uttapam"
a.isalnum()

False

In [5]:
#Q24. Extract all digits from a string.
a=" 1 mango 2 apple 3 orange 4 banana"
for i in a:
    if i .isdigit():
        print(i)

# digits = [char for char in a if char.isdigit()] #cheers for chatgpt 
# print(digits)

1
2
3
4

In [9]:
#Q25. Extract all alphabets from a string.
a=" 1learning 2a 3lot 4of 5things 6from 7chatgpt" 
alpha= [i for i in a if i.isalpha()]
print(alpha)
print("".join(alpha))

['l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'a', 'l', 'o', 't', 'o', 'f', 't', 'h', 'i', 'n', 'g', 's', 'f', 'r', 'o', 'm', 'c', 'h', 'a', 't', 'g', 'p', 't']
learningalotofthingsfromchatgpt

In [40]:
#Q26. Count the number of uppercase letters in a string.
a="I think I can do this on My Own"
upper=[i for i in a if i.isupper()]
print(upper)

['I', 'I', 'M', 'O']

In [42]:
#Q27. Count the number of lowercase letters in a string.
a= "Now I have Learnt This Char Method"
lower= [i for i in a if i.islower()]
print(lower)

['o', 'w', 'h', 'a', 'v', 'e', 'e', 'a', 'r', 'n', 't', 'h', 'i', 's', 'h', 'a', 'r', 'e', 't', 'h', 'o', 'd']

In [2]:
#Q28.Swap the case of each character in a string.
a=" I didnt even understand the meaning of this questionðŸ¤"
b= a.swapcase()
#ya now i understood, its lower and uppercase

' i DIDNT EVEN UNDERSTAND THE MEANING OF THIS QUESTIONðŸ¤'

In [10]:
#Q29. Remove a specific word from a string.
a="use remove function i think"
a.replace('i','')

'use remove functon  thnk'

In [2]:
#Q30. Check if a string is a valid email address.
import re
email = "ayush.bruno21@gmail.com"
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    
    if re.match(pattern, email):
        return True
    else:
        return False
    
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

#Q31. Extract the username from an email address string.
#Q32. Extract the domain name from an email address string.
# understand this program and do it again

ayush.bruno21@gmail.com is a valid email address.

In [22]:
#Q33.Replace multiple spaces in a string with a single space.
a= "hello   wo   rld"
a.replace("   "," ")

'hello wo rld'

In [ ]:
# 34. Check if a string is a valid URL.
# 35. Extract the protocol (http or https) from a URL string.
#too hard to understand for me right now.

In [9]:
#Q36. Find the frequency of each character in a string.
# text = input("Enter a string: ")

# char_frequency = []

# # Calculate character frequencies
# for char in text:
#     if char.isalpha():  # Only consider alphabetic characters
#         char = char.lower()  # Convert to lowercase for case-insensitive counting
#         char_frequency[char] += char_frequency.append(i) 

# # Print character frequencies
# print("Character frequencies:")
# for char, frequency in char_frequency.items():
#     print(f"'{char}': {frequency}")
# unable to understand

In [ ]:
#Q37. Remove all punctuation from a string.
a= " hello,-world"
a.maketrans
#again unable to understand the method to solve this"

In [9]:
#Q38.Check if a string contains only digits.
a="123456"
digits=[char for char in a if char.isdigit()]
b=len(a)
print(b)
print(digits)
#length of string and length of all the digits is same"

6
['1', '2', '3', '4', '5', '6']

In [10]:
#Q39. Check if a string contains only alphabets.
a=" I am 2 much feeling 2 sleepy"
alpha=[char for char in a if char.isalpha()]
b=len(a)
print(b)
print(alpha)
#as the length of a and alpha is not same then this string doesnt contains only alphabets.

29
['I', 'a', 'm', 'm', 'u', 'c', 'h', 'f', 'e', 'e', 'l', 'i', 'n', 'g', 's', 'l', 'e', 'e', 'p', 'y']

In [17]:
#Q40.Convert a string to a list of characters.
a="in a storm of tough questions how this came in b/w"
b=list(a)
print(b)

['i', 'n', ' ', 'a', ' ', 's', 't', 'o', 'r', 'm', ' ', 'o', 'f', ' ', 't', 'o', 'u', 'g', 'h', ' ', 'q', 'u', 'e', 's', 't', 'i', 'o', 'n', 's', ' ', 'h', 'o', 'w', ' ', 't', 'h', 'i', 's', ' ', 'c', 'a', 'm', 'e', ' ', 'i', 'n', ' ', 'b', '/', 'w']

In [6]:
#Q41.Check if two strings are anagrams.
a="ape"
b="Pea"
if (sorted(a)==sorted(b)):
    print('Strings are anagrams')
else:
    print('String are not anagrams')

String are not anagrams

In [ ]:
#Q42. Encode a string using a Caesar cipher.
#Q43. Decode a Caesar cipher encoded string.
#out of range rn.

In [76]:
#Q44.Find the most frequent word in a string.
a="happy is celebrating happy birthday happily"
for i in a:
    if i*2==i:
        print("most frequent word is:" , i )
    #do this later

In [ ]:
# Q45
# Q46
# Q47
# Q48
# Q49
# Q50
SKIP FOR NOW

In [ ]:
LIST BASED QUESTIONS---

In [19]:
#Q1.Create a list with integers from 1 to 10.
L1=[]
for i in range(1,11):
    L1.append(int(i))
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#Q2.Find the length of a list without using the `len()` function.
a=[1,2,3,4,5,6,7,8,9,9,]
count=0
for x in a:
      count+=1
print("Length of a is:")
print(count)

Length of a is:
10

In [12]:
#Q3. Append an element to the end of a list.
a=[1,2,3,4,5,6,7,8,9,9,]
a.append(10)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10]

In [14]:
#Q4.Insert an element at a specific index in a list.
a=[1,2,3,4,5,6,7,8,9,9,]
a.insert(4,14) #inserting 14 at 4th index.
a

[1, 2, 3, 4, 14, 5, 6, 7, 8, 9, 9]

In [16]:
#Q5.Remove an element from a list by its value.
a=[1,2,3,4,5,6,7,8,9,10]
a.remove(9)
a

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [17]:
# Q6. Remove an element from a list by its index.
a=[1,2,3,4,5,6,7,8,9,10]
a.pop(9) #removed 10 as it was at 9th index in list
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
#Q7. Check if an element exists in a list.
a=[1,2,3,4,5,6,7,8,9,10]
element= 7
if element in a:
    print('element is present')
else:
        print( 'element is not present')

element is present

In [42]:
#Q8. Find the index of the first occurrence of an element in a list.
a=[1,2,3,4,5,6,7,4,8,9,10]
b=a.index(4)
print('first occurence of 4 is:' , b)

first occurence of 4 is: 3

In [45]:
#Q9.Count the occurrences of an element in a list.
a=[1,2,3,4,5,6,7,4,8,9,10]
a.count(4)

2

In [55]:
#Q10. Reverse the order of elements in a list.
a=[1,2,3,4,5,6,7,4,8,9,10]
a.reverse()
a  
      # OR
# b=a[::-1]
# print(b)

[10, 9, 8, 4, 7, 6, 5, 4, 3, 2, 1]

In [61]:
#Q11.Sort a list in ascending order.
a=[5,6,4,7,3,4,8,1,9,10]
b= sorted(a)

print(b)

[1, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [73]:
#Q12. Sort a list in descending order.
a=[5,6,4,7,3,4,8,1,9,10]
a.sort(reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 4, 3, 1]

In [78]:
#Q13. Create a list of even numbers from 1 to 20.
l1= [x for x in range (2,21,2)]
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [81]:
#Q14. Create a list of odd numbers from 1 to 20.
l1=[x for x in range (1,20,2)]
l1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [87]:
#Q15.Find the sum of all elements in a list.
l1=[1,2,3,4,5,6,7,4,8,9,10]
b=sum(l1)
b

59

In [100]:
#Q16.Find the maximum value in a list.
l1=[1,2,3,4,5,6,7,4,8,9,10]
b = max(l1)
print(b)
    #OR
max_value= l1[0]
for X in l1:
    if X > max_value:
        max_value = X

print("The maximum value in the list is:",  max_value)

10
The maximum value in the list is: 10

In [19]:
#Q17. Find the minimum value in a list.
l1=[0,1,2,3,4,5,6,7,4,8,9,10]
# b= min(l1)
# print(b)
  #OR
min_value=l1[0]
for x in l1:
    if x < min_value:
        min_value=x
        print("the minimum value in list is:", min_value)

0

In [116]:
#Q18. Create a list of squares of numbers from 1 to 10.
square_L= [ x**2 for x in range(1,11)]#  **- this denots 'power of' 
square_L

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [122]:
#Q19. Create a list of random numbers.
import random
random_list = [random.randint(1,50) for _ in range(5)] #def 'randint' returns random no. b/w given no.'s including both no.'s.
                                                       #leant this from chatgpt
print("list of random numbers is:", random_list)

list of random numbers is: [13, 43, 4, 19, 1]

In [127]:
#Q20. Remove duplicates from a list.
 # convert list to sets 
l1=[1,2,3,4,5,6,7,4,8,9,10]
b=list(set(l1))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
#Q21. Find the common elements between two lists.
l1=[1,2,3,4,5,6,7,4,8,9,10]
l2=[2,4,6,8,10]
common= [x for x in l1 if x in l2]
print(common)
 
    #OR
    
l1=[1,2,3,4,5,6,7,4,8,9,10]
l2=[2,4,6,8,10]

s1 = set(l1)
s2 = set(l2)

common_elements = list(s1.intersection(s2))

print(common_elements)

      #since in sets the value is never repeated, thats why the output is diff. but the question is which method to use.

[2, 4, 6, 4, 8, 10]
[2, 4, 6, 8, 10]

In [143]:
#Q22. Find the difference between two lists.
l1=[1,2,3,4,5,6,7,4,8,9,10]
l2=[2,4,6,8,10]
difference=[x for x in l1 if x not in l2] 
difference
  #OR we can use set1-set2 approach as well.

[1, 3, 5, 7, 9]

In [148]:
#Q23.Merge two lists.
l1=[1,2,3,4,5,6,7,4,8,9,10]
l2=[2,4,6,8,10]
a=l1+l2 #it appended the l2 in l1
print(a)
#and
a=sorted(l1+l2) # it sorted and merged l1 & l2 sequentially
print(a)

[1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 2, 4, 6, 8, 10]
[1, 2, 2, 3, 4, 4, 4, 5, 6, 6, 7, 8, 8, 9, 10, 10]

In [151]:
#Q24. Multiply all elements in a list by 2.
l1=[1,2,3,4,5,6,7,4,8,9,10]
b=[x*2 for x in l1]
b

[2, 4, 6, 8, 10, 12, 14, 8, 16, 18, 20]

In [156]:
#Q25. Filter out all even numbers from a list.
l1=[1,2,3,4,5,6,7,4,8,9,10]
a=[x for x in l1 if x %2 !=0] #learnt and understood this from chatgpt
print(a)

[1, 3, 5, 7, 9]

In [168]:
#Q26. Convert a list of strings to a list of integers.
# a=['ayush','bruno']
# b=int(a)
# type(b)
# if list has alphabets then we cant convert it to list of intergers
a=['1','2','3','4']
b=[int(x) for x in a]
print(b)
type(b)

[1, 2, 3, 4]

list

In [5]:
#Q27. Convert a list of integers to a list of strings.
a=[1,2,3,4,5,6,7]
b=str(a)
print(type(b))
b

<class 'str'>

'[1, 2, 3, 4, 5, 6, 7]'

In [8]:
#Q28.Flatten a nested list.
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in (flatten_list(sublist) if isinstance(sublist, list) else [sublist])]
#here we are using list comprehension and isinstance fx. to check whether the specific object i.e sublist is a part of list.
nested_list = [1, [2, [3, 4], 5], 6]
flattened = flatten_list(nested_list)
print(flattened)
# *understand and do this again

[1, 2, 3, 4, 5, 6]

In [24]:
#Q29.Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci_numbers(n):
    fibonacci_numbers = [0,1] 

    while len(fibonacci_numbers) < (n):
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]#this is the important line as it is simpy adding-
        fibonacci_numbers.append(next_number)                      #last no. & previous to last no., thats how a sequence
                                                                   # is happening.

    return fibonacci_numbers
first10_fibonacci = generate_fibonacci_numbers(10)
print(first10_fibonacci)
# *have to understand and do this again.

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [18]:
#Q30.Check if a list is sorted.
def sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [3,2,1,4,5,6,7]

if sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")
    #UNDERSTAND AND DO THIG AGAIN.

The list is not sorted in ascending order.

In [13]:
#Q31. Rotate a list to the left by `n` positions.
# n= 20
# a=list(range(0,n+1))
# b=a[::-1]   
# b

[3, 4, 5, 1, 2]

In [20]:
#Q32.
#Q33.Create a list of prime numbers up to 50.
#Q34

In [22]:
#Q35.FIND THE SECOND LARGEST NUMBER IN LIST.
L1 =[1,2,4,3,4,5]
L2=set(L1) #TO REMOVE ANY DUPLICATES
sort_=sorted(L2)

if len(L2) < 2:
    print("The list should contain at least two numbers.")
else:
    second_largest_number = sort_[-2]
    print("The second largest number in the list is:", second_largest_number)

The second largest number in the list is: 4

In [29]:
#Q36. Replace every element in a list with its square.
a=[1,2,3,4,5,6,7,8,9,10]
a_square=[i**2 for i in a] 
print(a_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#Q37.Convert a list to a dictionary where list elements become keys and their
#indices become values.
l1=[1,2,3,4,5,6,7,8,9,10]
dict.keys==l1
dict.values==l1.index
a={dict.keys:dict.values}
a
l1.index
#check this later

In [56]:
#Q38.Shuffle the elements of a list randomly.
import random
l1=[2,10,22,37,48]
random.shuffle(l1)
l1

[10, 48, 22, 2, 37]

In [33]:
#Q39. Create a list of the first 10 factorial numbers.
def fact_(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact_(n-1)
       
factorial_list=[fact_(n) for n in range(1,11)]
print("first 10 factorial numbers are:\n",factorial_list)

first 10 factorial numbers are:
 [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [30]:
#Q40.Check if two lists have at least one element in common.
l1=[1,2,3,4,5]
l2=[10,20,3,40,50]
s1=set(l1)
s2=set(l2)
print("common number is:", s1.intersection(s2))

common number is: {3}

In [61]:
#Q41.Remove all elements from a list.
l1=[1,2,3,4,5]
l1.clear()
l1

[]

In [41]:
#Q42.Replace negative numbers in a list with 0.
l1=[1,-2,-3,4,5]
# str(l2)==(l1)
# for i in l2:
#     if l2[i]<0:
#         l2.replace("i","0")
#         print(l2)
for i in range(len(l1)):
    if l1[i] < 0:
        l1[i] = 0

print("List after replacing negative numbers with 0:", l1)

List after replacing negative numbers with 0: [1, 0, 0, 4, 5]

In [5]:
#Q43.Convert a string into a list of words.
a='ayush'
b=list(a)
b

['a', 'y', 'u', 's', 'h']

In [10]:
#Q44.Convert a list of words into a string.
l1=['a', 'y', 'u', 's', 'h']
a="".join(l1)
a

'ayush'

In [43]:
#Q45.Create a list of the first `n` powers of 2.
n = 15 #this n can be any value we want to insert
sqaured_list= [2**i for i in range(0,n)]

print(sqaured_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]

In [4]:
#Q46. Find the longest string in a list of strings.
a = ["apple", "banana", "mango", "watermelon"]

longest_string = "x"
for i in a:
    if len(i) > len(longest_string):
        longest_string = i

print("Longest string:", longest_string)

Longest string: watermelon

In [10]:
#Q47. Find the shortest string in a list of strings.
a = ["apple", "banana", "mangoo", "watermelon"]

shortest_string = a[0]
for i in a:
    if len(i) < len(shortest_string):
        shortest_string = i

print("Longest string:", shortest_string)

Longest string: apple

In [ ]:
#48.Create a list of the first `n` triangular numbers.
#49
#ask this

In [33]:
#Q50.Swap two elements in a list by their indices.
a=[1,2,3,4,5]
# x= a[2]
# y= a[3]
# x,y==y,x:
# print(a)
index1= 2
index2 = 3

a[index1], a[index2] = a[index2], a[index1]
a

[1, 2, 4, 3, 5]

In [ ]:
Q.TUPLE QUESTIONS

In [34]:
#Q1.Create a tuple with integers from 1 to 5.
a=(1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [37]:
#Q2.Access the third element of a tuple.
a=(1,2,3,4,5)
b=a[3]
b

4

In [41]:
#Q3. Find the length of a tuple without using the `len()` function.
a=(1,2,3,4,5)
count=0
for x in a :
    count +=1
print("length of a is:", count)

length of a is: 5

In [43]:
#Q4. Count the occurrences of an element in a tuple.
a=(1,3,2,4,5,3)
a.count(3)

2

In [44]:
#Q5.Find the index of the first occurrence of an element in a tuple.
a=(1,2,3,4,5,2)
a.index(2)

1

In [48]:
#Q6. Check if an element exists in a tuple.
a=(1,2,3,4,5)
i=3
if i in a:
    print( 'given element is present')
else:
    print(' given Element is not present')

given element is present

In [51]:
#Q7. Convert a tuple to a list.
a=(1,2,3,4,5)
b=list(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5]
<class 'list'>

In [53]:
#Q8. Convert a list to a tuple.
l1= [1, 2, 3, 4, 5]
a=tuple(l1)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [56]:
#Q9.Unpack the elements of a tuple into variables.
a = (1,2,3,4,5)
var1,var2,var3,var4,var5= a

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print(type(var1))

var1: 1
var2: 2
var3: 3
<class 'int'>

In [10]:
#Q10. Create a tuple of even numbers from 1 to 10.
a=()
for i in range(1,11):
    if i%2==0: 
        a+=(i,)
        # print(a) why it is giving diff. result
print(a)

(2, 4, 6, 8, 10)

In [14]:
#Q11.Create a tuple of odd numbers from 1 to 10.
a=()
for i in range(1,10):
    if i%2 !=0:
        a+=(i,)
print(a)

(1, 3, 5, 7, 9)

In [20]:
#Q12. Concatenate two tuples.
a=(1,2,3,4,5)
b=('ayush','bruno')
print('concatenated tuple:',a+b)

concatenated tuple: (1, 2, 3, 4, 5, 'ayush', 'bruno')

In [25]:
#Q13. Repeat a tuple three times.
a=(1, 2, 3, 4, 5, 'ayush', 'bruno')
b=a*3
#b #why this is giving diff. result
print(b)

(1, 2, 3, 4, 5, 'ayush', 'bruno', 1, 2, 3, 4, 5, 'ayush', 'bruno', 1, 2, 3, 4, 5, 'ayush', 'bruno')

In [46]:
#Q14.Check if a tuple is empty.
a=(1,)
if not a:
    print('yes it is empty')
else:
    print('its not empty')

its not empty

In [1]:
#Q15.Create a nested tuple.
a=(1,2,('a',('b','c'),'d'),3,4)
print(type(a))

<class 'tuple'>

In [9]:
#Q16. Access the first element of a nested tuple.
a=((1,2),('a',('b','c'),'d'),3,4)
print(a[0])

(1, 2)

In [3]:
#Q17. Create a tuple with a single element.
a=(1,)
print(type(a))

<class 'tuple'>

In [14]:
#Q18. Compare two tuples.
a=(1,2,3,4,5)
b=(3,'ayush',5,2,10,9)
print("a==b:",a== b)  
print("a!=b:",a != b)  
print("a>b:",a > b)    
print("a>=b:",a >= b)  
print("a<b:",a < b)    
print("a<=b:",a <= b)

a==b: False
a!=b: True
a>b: False
a>=b: False
a<b: True
a<=b: True

In [16]:
#Q19. Delete a tuple.
a=(1,2,3,4,5)
del a
a

NameError: name 'a' is not defined

In [4]:
#Q20.Slice a tuple.
a=(1,2,3,4,5)
b=a[0:2]
print(b)

(1, 2)

In [17]:
#Q21.Find the maximum value in a tuple.
a=('ayush','bruno','food','soltitude')
b=max(a)
print(b)

soltitude

In [29]:
#Q22. Find the minimum value in a tuple.
# a=('bruno','food','soltitude')
# b=min(a)
# b
#it is returning bruno, why?
a=(2,1,3,4,5)
b=min(a)
print(b)

1

In [18]:
#Q23.Convert a string to a tuple of characters.
# a='ayush' ,'bruno', 'food', 'soltitude'
# print(type(a)) why it is a tuple?
a='hello world'
b=tuple(a)
print(b)
print(type(b))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
<class 'tuple'>

In [24]:
#Q24.Convert a tuple of characters to a string.
a=('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
b="".join(a)
print(b)
print(type(b))

hello world
<class 'str'>

In [31]:
#Q25. Create a tuple from multiple data types.
a= (1,2,'ayush',11.21,1+2j,True)
print(type(a))
a

<class 'tuple'>

(1, 2, 'ayush', 11.21, (1+2j), True)

In [56]:
#Q26.Check if two tuples are identical.
T1=(1,2,3,4)
T2=(1,2,4,3)

if T1==T2 :
    print('Identical')
else:
    print('not identical')
# why its not working

not identical

In [58]:
#Q27. Sort the elements of a tuple.
a=(3,1,2,4)
b=tuple(sorted(a))
b

(1, 2, 3, 4)

In [64]:
#Q28. Convert a tuple of integers to a tuple of strings.
a=1,2,3,4
#why this open variable is tuple class
b=tuple(str(i) for i in a)
b

('1', '2', '3', '4')

In [65]:
#Q29.Convert a tuple of strings to a tuple of integers.
a=('1', '2', '3', '4')
b=tuple(int(i) for i in a)
b

(1, 2, 3, 4)

In [57]:
#Q30.Merge two tuples.
#it is same as concatination
a=1,2,3,4
b=3,4,5,6,7
print((a+b))
# also
print(sorted(a+b))

(1, 2, 3, 4, 3, 4, 5, 6, 7)
[1, 2, 3, 3, 4, 4, 5, 6, 7]

In [ ]:
#Q31.Flatten a nested tuple.

In [ ]:
#Q32.Create a tuple of the first 5 prime numbers.

In [2]:
#Q33.Check if a tuple is a palindrome.
a=(1,2,1)
b=a[::-1]
if b==a:
    print("Tuple is palindrome")
else:
    print("Tuple is not palindrome")

Tuple is palindrome

In [8]:
#Q34.Create a tuple of squares of numbers from 1 to 5.
a=tuple(x**2 for x in range(1,6))

print(a)

(1, 4, 9, 16, 25)

In [33]:
#Q35.Filter out all even numbers from a tuple.
a=(1,2,3,4,5,6,7,8)
b=tuple(x for x in a if x%2!=0)
# for i in a:
#     if i%2==0:
print("filtered tuple:",b)

filtered tuple: (1, 3, 5, 7)

In [41]:
#Q36. Multiply all elements in a tuple by 2.
a=(1,2,3,4,5)
b=tuple(x*2 for x in a)
b

(2, 4, 6, 8, 10)

In [45]:
#Q37. Create a tuple of random numbers.
import random
random_tuple=[random.randint(1,10) for _ in range(5)]
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: [4, 5, 8, 3, 9]

In [57]:
#Q38.Check if a tuple is sorted.
a=(2,3,1,4,5)
b=tuple(sorted(a))
print(b)
if a==b:
        print("tuple is sorted")
else:
        print("tuple is not sorted")

(1, 2, 3, 4, 5)
tuple is not sorted

In [ ]:
#Q39. Rotate a tuple to the left by `n` positions.
#Q40. Rotate a tuple to the right by `n` positions.
# unable to understand currently

In [9]:
#Q41.Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)  
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [19]:
#Q42.Create a tuple from user input.
a=input('enter any string:')
b=tuple("".join(a))
print(b)
print(type(b))

enter any string: hello!,world

('h', 'e', 'l', 'l', 'o', '!', ',', 'w', 'o', 'r', 'l', 'd')
<class 'tuple'>

In [65]:
# #Q43.Swap two elements in a tuple.
a=(1,2,3,4,5)
if (a[3],a[2]) == (a[2],a[3]):
    print(a)

In [2]:
#Q44.Reverse the elements of a tuple.
a=(1,2,3,4)
b=a[::-1]
b

(4, 3, 2, 1)

In [66]:
#Q45. Create a tuple of the first `n` powers of 2.
n=10
new_tuple=tuple(i**2 for i in range(1,n))
new_tuple

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [14]:
#Q46. Find the longest string in a tuple of strings.
a=('ayush','food','soltitude')
b=max(a, key=len)
b

# print("Longest string:", longest_string)

'soltitude'

In [15]:
#Q47. Find the shortest string in a tuple of strings.
a=('ayush','food','soltitude')
b=min(a, key=len)
b

'food'

In [ ]:
#Q48.
# ASK THIS

In [77]:
#Q49.Check if a tuple contains another tuple as a subsequence.
# a=(1,2,3,4,5)
# b=(2,3)
# for i in a:
#     if (i) in b:
#         print('yes')
#     else:
#         print('no')

In [8]:
#Q50. Create a tuple of alternating 1s and 0s of length `n`.
n=10
alternating_tuple= tuple(i % 2 for i in range(n))
alternating_tuple

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
                                   SET BASED QUESTIONS:-

In [11]:
#Q1. Create a set with integers from 1 to 5.
a={1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [12]:
#Q2. Add an element to a set.
a={1,2,3,4,5}
a.add(7)
print(a)

{1, 2, 3, 4, 5, 7}

In [13]:
#Q3. Remove an element from a set.
a={1,2,3,4,5}
a.remove(3)
a

{1, 2, 4, 5}

In [22]:
#Q4. Check if an element exists in a set.
a={1,2,3,4,5}
i=3
if i in a:
    print('given element exists in set')
else:
    print('given element does not exists in set')

given element exists in set

In [26]:
#Q5.Find the length of a set without using the `len()` function.
a={1,2,3,4,5}
count=0
for i in a :
    count+=1
print('length of set is:', count)

length of set is: 5

In [28]:
#Q6. Clear all elements from a set.
a={1,2,3,4,5}
a.clear()
a

set()

In [34]:
#Q7. Create a set of even numbers from 1 to 10.
a=set()
for i in range(1, 11):
    if i % 2 == 0:
        a.add(i)
print(a)

{2, 4, 6, 8, 10}

In [35]:
#Q8. Create a set of odd numbers from 1 to 10.
a=set()
for i in range(1, 10):
    if i % 2 != 0:
        a.add(i)
print(a)

{1, 3, 5, 7, 9}

In [1]:
#Q9. Find the union of two sets.
a={1,2,3,4,5}
b={3,4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [2]:
#Q10.Find the intersection of two sets.
a={1,2,3,4,5}
b={3,4,5,6,7}
a.intersection(b)

{3, 4, 5}

In [3]:
#Q11. Find the difference between two sets.
a={1,2,3,4,5}
b={3,4,5,6,7}
a.difference(b)

{1, 2}

In [4]:
#Q12. Check if a set is a subset of another set.
a={1,2,3,4,5}
b={3,4,5,6,7}
b.issubset(a)

False

In [6]:
#Q13.Check if a set is a superset of another set.
a={1,2,3,4,5}
b={3,4}
a.issuperset(b)

True

In [8]:
#Q14. Create a set from a list.
a=[1,2,3,4]
b=set(a)
b

{1, 2, 3, 4}

In [9]:
#Q15.Convert a set to a list.
a={1, 2, 3, 4}
b=list(a)
b

[1, 2, 3, 4]

In [14]:
#Q16. Remove a random element from a set.
a={6, 'bruno', 'food',3, 4}
a.pop()
a

{4, 6, 'bruno', 'food'}

In [19]:
#Q17.Pop an element from a set.
import random
a={1,2,3,4,5}
b=random.choice(list(a))
#ask here choices is used fr what'
a.remove(b)
print(a)

{1, 3, 4, 5}

In [23]:
#Q18. Check if two sets have no elements in common.
s1={1,2,3,4,5}
s2={4,5,6,7,8}
intersected_= s1.intersection(s2)
if not intersected_:
    print('two sets have no elements in common')
else:
    print('two sets have elements in common')

two sets have elements in common

In [3]:
#Q19. Find the symmetric difference between two sets.
s1={1,2,3,4,5}
s2={4,5,6,7,8}
difference= s1^s2
print('symmetric difference:', difference)

symmetric difference: {1, 2, 3, 6, 7, 8}

In [31]:
#Q20.Update a set with elements from another set.
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.update(s2)
s1

# wht is the diff. b/w union and update

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Q21. Create a set of the first 5 prime numbers.
#understand and do it later

In [6]:
#Q22.Check if two sets are identical.
s1={1,2,3,4,5}
s2={4,5,6,7,8}
if s1==s2:
    print('sets are identical')
else:
    print('sets are not identical')

sets are not identical

In [7]:
#Q23. Create a frozen set.
l1=[1,2,3,4,5]
a= frozenset(l1)
print('frozen set:', a)

frozen set: frozenset({1, 2, 3, 4, 5})

In [8]:
#Q24.Check if a set is disjoint with another set.
s1={1,2,3,4,5}
s2={4,5,6,7,8}
disjoint_=s1.isdisjoint(s2)
disjoint_

False

In [15]:
#Q25.Create a set of squares of numbers from 1 to 5.
a=set()
for i in range(1,6):
    squares=i**2
    a.add(squares)
print('squared set:\n',a)

squared set:
 {1, 4, 9, 16, 25}

In [21]:
#Q26.Filter out all even numbers from a set.
a={1,2,3,4,5}
b=set(x for x in a if x%2!=0)
b

{1, 3, 5}

In [22]:
#Q27 Multiply all elements in a set by 2.
a={1,2,3,4,5}
b=set(x*2 for x in a)
b

{2, 4, 6, 8, 10}

In [32]:
#Q28. Create a set of random numbers.
import random
a=set()
random_ = set(random.randint(1,10)for _ in range(10))
a.update(random_)
a

{2, 5, 6, 7, 8, 9}

In [34]:
#Q29. Check if a set is empty.
a=set()
if len(a)==0:
    print('set is empty')
else:
    print('set is not empty')

set is empty

In [36]:
#Q30.Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print(type(nested_set))
print("Nested Set:", nested_set)

<class 'set'>
Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [2]:
#Q31. Remove an element from a set using the discard method.
s={1,2,3,4,5}
s.discard(3)
s

{1, 2, 4, 5}

In [4]:
#Q32.Compare two sets.
s1={1,2,3,4,8}
s2={5,6,3,7,4,8}

is_subset = s1.issubset(s2)

is_superset = s1.issuperset(s2)

intersection = s1.intersection(s2)

union = s1.union(s2)

difference1 = s1.difference(s2)

difference2 = s2.difference(s1)


print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {8, 3, 4}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2}
Elements in set2 but not in set1: {5, 6, 7}

In [6]:
#Q33.Create a set from a string.
a= 'Ayush'
b=set(a)
b

{'A', 'h', 's', 'u', 'y'}

In [8]:
#Q34.Convert a set of strings to a set of integers.
s={'1','2','3','4'}
int_set=set()
for i in s:
    int_value=int(i)
    int_set.add(int_value)
print(int_set)

{1, 2, 3, 4}

In [14]:
#Q35.Convert a set of integers to a set of strings.
s={1, 2, 3, 4}
str_set=set()
for i in s:
    str_value=str(i)
    str_set.add(str_value)
print(str_set)

{'1', '3', '2', '4'}

In [19]:
#Q36.Create a set from a tuple.
a=(1,2,3,4)
req_set=set()
for i in a:
    int_value=int(i)
    req_set.add(int_value)
print(req_set)   
# or
# req_set=set(a)

{1, 2, 3, 4}

In [17]:
#Q37.Convert a set to a tuple.
s={1, 2, 3, 4}
req_tuple=tuple(s)
req_tuple

(1, 2, 3, 4)

In [20]:
#Q38.Find the maximum value in a set.
s={1,2,3,4,5,6,7}
a=max(s)
a

7

In [21]:
#Q39.Find the minimum value in a set.
s={1,2,3,4,5,6,7,8}
a=min(s)
a

1

In [23]:
#Q40.Create a set from user input.
a=set(input("enter anything"))
a

enter anything 12345678910

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [27]:
#Q41.Check if the intersection of two sets is empty.
s1={1,2,3,4}
s2={3,2,5,6}
intersect_=s1.intersection(s2)
print(intersect_)
if not intersect_:
    print("its empty")
else:
    print("its not empty")

{2, 3}
its not empty

In [31]:
#Q42.Create a set of the first 5 Fibonacci numbers.
s=set()
a,b=0,1
for _ in range(0,6):
    a,b=b,a+b
    s.add(a)
s

{1, 2, 3, 5, 8}

In [37]:
#Q43.Remove duplicates from a list using sets.
L1=[1,2,3,4,4,3,5,6]
L2=list(set(L1))
print(L2)
print(type(L2))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [39]:
#Q44.Check if two sets have the same elements, regardless of their count.
def same_element(s1,s2):
        sort1=sorted(list(s1))
        sort2=sorted(list(s2))
        return sort1==sort2
    
s1={1,2,3,4,5}
s2={4,5,6,7,8}
req_result=same_element(s1,s2)
print(req_result)

False

In [43]:
#Q45.Create a set of the first `n` powers of 2.
n = 5

set_of_power2 = { 2**i for i in range(n)}

print("Set of the first", n, "powers of 2:", set_of_power2)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [48]:
#Q46. Find the common elements between a set and a list.
s1={1,2,3,4}
l=[4,5,6]
# convert list to set
s2=set(l)
common_element=[]
for i in s1:
    if i in s2:
        common_element.append(i)
        print('Common element is:',common_element)

Common element is: [4]

In [ ]:
#Q47.Create a set of the first `n` triangular numbers.

In [49]:
#Q48.Check if a set contains another set as a subset.
s1={1,2,3,4}
s2={3,4}
is_subset=s2.issubset(s1)
is_subset

True

In [65]:
#Q49.Create a set of alternating 1s and 0s of length `n`.
n=10
req_set=set()
for i in range(0,n):
    if i%2==0:
        req_set.add(1)
    else:
        req_set.add(0)     
print(req_set)

{0, 1}

In [ ]:
# why it is not giving full set

In [67]:
#Q50.Merge multiple sets into one.
set1 = {1,2,3}
set2 = {3,4,5}
set3 = {5,6,7}

req_set = set1.union(set2, set3)

print(req_set)

{1, 2, 3, 4, 5, 6, 7}